* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.input-container {
    background-color: #F43F5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 550px;
    min-height: 285px;
    justify-content: center;

    color: white;
}

.input-container input {
    max-width: 117px;
    min-height: 83px;

    font-size: 58px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    background: transparent;
    border: 1px solid #FB7185;
    color: white;

    margin: 20px 0;
}

.input-container button {
    padding: 12px 24px;
    border-radius: 8px;
    border: transparent
}

/* Input Display Container */

.input-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #F43F5E;
}

.length-container {
    border: 1px solid black;
    min-width: 500px;
    min-height: 108px;
    margin: 10px 0;
    padding-top: 30px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.volume-container {
    border: 1px solid black;
    min-width: 500px;
    min-height: 108px;
    margin: 10px 0;
    padding-top: 30px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

.mass-container {
    border: 1px solid black;
    min-width: 500px;
    min-height: 108px;
    margin: 10px 0;
    padding-top: 30px;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 400px) {
    
}
