* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Base styles */

.input-container {
    background-color: #F43F5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: white;
}

.input-container input {
    width: 100%;
    max-width: 200px;
    height: 60px;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    background: transparent;
    border: 1px solid #FB7185;
    color: white;
    margin: 10px 0;
}

.input-container button {
    padding: 12px 24px;
    border-radius: 8px;
    border: transparent;
}

.input-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F43F5E;
    padding: 20px;
}

.length-container,
.volume-container,
.mass-container {
    border: 1px solid black;
    width: 100%;
    max-width: 500px;
    min-height: 108px;
    margin: 10px 0;
    padding-top: 30px;
    text-align: center;
}

/* Media Queries */

/* For phones */
@media (max-width: 576px) {
    .input-container {
        padding: 10px;
    }

    .input-container input {
        font-size: 18px;
        height: 50px;
    }

    .length-container,
    .volume-container,
    .mass-container {
        max-width: 100%;
    }
}

/* For tablets */
@media (min-width: 577px) and (max-width: 768px) {
    /* Adjust styles as needed */
}

/* For laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles as needed */
}

/* For desktops */
@media (min-width: 1025px) {
    /* Adjust styles as needed */
}